## Introduction

Climate change is a globally relevant, urgent, and multi-faceted issue heavily impacted by energy policy and infrastructure. Addressing climate change involves mitigation (i.e. mitigating greenhouse gas emissions) and adaptation (i.e. preparing for unavoidable consequences). Mitigation of GHG emissions requires changes to electricity systems, transportation, buildings, industry, and land use.

According to a report issued by the International Energy Agency (IEA), the lifecycle of buildings from construction to demolition were responsible for 37% of global energy-related and process-related CO2 emissions in 2020. Yet it is possible to drastically reduce the energy consumption of buildings by a combination of easy-to-implement fixes and state-of-the-art strategies. For example, retrofitted buildings can reduce heating and cooling energy requirements by 50-90 percent. Many of these energy efficiency measures also result in overall cost savings and yield other benefits, such as cleaner air for occupants. This potential can be achieved while maintaining the services that buildings provide.

**Dataset**: 

Created in collaboration with Climate Change AI (CCAI) and Lawrence Berkeley National Laboratory (Berkeley Lab).It consists of variables that describe building characteristics and climate and weather variables for the regions in which the buildings are located. Accurate predictions of energy consumption can help policymakers target retrofitting efforts to maximize emissions reductions.

**Task**: 

Analyze differences in building energy efficiency, creating models to predict building energy consumption. 

**Evaluation Metric**: 

The evaluation metric for this competition is Root Mean Squared Error (RMSE). The RMSE is commonly used measure of the differences between predicted values provided by a model and the actual observed values.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Reading Data

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
train['Year_Factor'] = train['Year_Factor'].astype(str)
test['Year_Factor'] = test['Year_Factor'].astype(str)
train['State_Factor'] = train['State_Factor'].astype(str)
test['State_Factor'] = test['State_Factor'].astype(str)
train['year_built'] = train['year_built'].astype(str)
test['year_built'] = test['year_built'].astype(str)
train['id'] = train['id'].astype(str)
test['id'] = test['id'].astype(str)
train['direction_max_wind_speed'] = train['direction_max_wind_speed'].astype(str)
test['direction_max_wind_speed'] = test['direction_max_wind_speed'].astype(str)
train['direction_peak_wind_speed'] = train['direction_peak_wind_speed'].astype(str)
test['direction_peak_wind_speed'] = test['direction_peak_wind_speed'].astype(str)

train.head()

,Year_Factor,State_Factor,building_class,facility_type,floor_area,year_built,energy_star_rating,ELEVATION,january_min_temp,january_avg_temp,...,days_above_80F,days_above_90F,days_above_100F,days_above_110F,direction_max_wind_speed,direction_peak_wind_speed,max_wind_speed,days_with_fog,site_eui,id
0,1,State_1,Commercial,Grocery_store_or_food_market,61242.0,1942.0,11.0,2.4,36,50.5,...,14,0,0,0,1.0,1.0,1.0,NaN,248.682615,0
1,1,State_1,Commercial,Warehouse_Distribution_or_Shipping_center,274000.0,1955.0,45.0,1.8,36,50.5,...,14,0,0,0,1.0,nan,1.0,12.0,26.500150,1
2,1,State_1,Commercial,Retail_Enclosed_mall,280025.0,1951.0,97.0,1.8,36,50.5,...,14,0,0,0,1.0,nan,1.0,12.0,24.693619,2
3,1,State_1,Commercial,Education_Other_classroom,55325.0,1980.0,46.0,1.8,36,50.5,...,14,0,0,0,1.0,nan,1.0,12.0,48.406926,3
4,1,State_1,Commercial,Warehouse_Nonrefrigerated,66000.0,1985.0,100.0,2.4,36,50.5,...,14,0,0,0,1.0,1.0,1.0,NaN,3.899395,4

In [3]:
test.head()

,Year_Factor,State_Factor,building_class,facility_type,floor_area,year_built,energy_star_rating,ELEVATION,january_min_temp,january_avg_temp,...,days_below_0F,days_above_80F,days_above_90F,days_above_100F,days_above_110F,direction_max_wind_speed,direction_peak_wind_speed,max_wind_speed,days_with_fog,id
0,7,State_1,Commercial,Grocery_store_or_food_market,28484.0,1994.0,37.0,2.4,38,50.596774,...,0,29,5,2,0,nan,nan,NaN,NaN,75757
1,7,State_1,Commercial,Grocery_store_or_food_market,21906.0,1961.0,55.0,45.7,38,50.596774,...,0,29,5,2,0,nan,nan,NaN,NaN,75758
2,7,State_1,Commercial,Grocery_store_or_food_market,16138.0,1950.0,1.0,59.1,38,50.596774,...,0,29,5,2,0,nan,nan,NaN,NaN,75759
3,7,State_1,Commercial,Grocery_store_or_food_market,97422.0,1971.0,34.0,35.4,38,50.596774,...,0,29,5,2,0,nan,nan,NaN,NaN,75760
4,7,State_1,Commercial,Grocery_store_or_food_market,61242.0,1942.0,35.0,1.8,38,50.596774,...,0,29,5,2,0,340.0,330.0,22.8,126.0,75761

In [4]:
train.describe()

,floor_area,energy_star_rating,ELEVATION,january_min_temp,january_avg_temp,january_max_temp,february_min_temp,february_avg_temp,february_max_temp,march_min_temp,...,days_below_20F,days_below_10F,days_below_0F,days_above_80F,days_above_90F,days_above_100F,days_above_110F,max_wind_speed,days_with_fog,site_eui
count,7.575700e+04,49048.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,...,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,34675.000000,29961.000000,75757.000000
mean,1.659839e+05,61.048605,39.506323,11.432343,34.310468,59.054952,11.720567,35.526837,58.486278,21.606281,...,17.447932,4.886532,0.876764,82.709809,14.058701,0.279539,0.002442,4.190601,109.142051,82.584693
std,2.468758e+05,28.663683,60.656596,9.381027,6.996108,5.355458,12.577272,8.866697,8.414611,10.004303,...,14.469435,7.071221,2.894244,25.282913,10.943996,2.252323,0.142140,6.458789,50.699751,58.255403
min,9.430000e+02,0.000000,-6.400000,-19.000000,10.806452,42.000000,-13.000000,13.250000,38.000000,-9.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,12.000000,1.001169
25%,6.237900e+04,40.000000,11.900000,6.000000,29.827586,56.000000,2.000000,31.625000,55.000000,13.000000,...,5.000000,0.000000,0.000000,72.000000,6.000000,0.000000,0.000000,1.000000,88.000000,54.528601
50%,9.136700e+04,67.000000,25.000000,11.000000,34.451613,59.000000,9.000000,34.107143,61.000000,25.000000,...,11.000000,2.000000,0.000000,84.000000,12.000000,0.000000,0.000000,1.000000,104.000000,75.293716
75%,1.660000e+05,85.000000,42.700000,13.000000,37.322581,62.000000,20.000000,40.879310,62.000000,27.000000,...,26.000000,7.000000,0.000000,97.000000,17.000000,0.000000,0.000000,1.000000,131.000000,97.277534
max,6.385382e+06,100.000000,1924.500000,49.000000,64.758065,91.000000,48.000000,65.107143,89.000000,52.000000,...,93.000000,59.000000,31.000000,260.000000,185.000000,119.000000,16.000000,23.300000,311.000000,997.866120

In [5]:
test.describe()

,floor_area,energy_star_rating,ELEVATION,january_min_temp,january_avg_temp,january_max_temp,february_min_temp,february_avg_temp,february_max_temp,march_min_temp,...,days_below_30F,days_below_20F,days_below_10F,days_below_0F,days_above_80F,days_above_90F,days_above_100F,days_above_110F,max_wind_speed,days_with_fog
count,9.705000e+03,7451.000000,9705.000000,9705.000000,9705.000000,9705.000000,9705.000000,9705.000000,9705.000000,9705.000000,...,9705.000000,9705.000000,9705.000000,9705.000000,9705.000000,9705.000000,9705.000000,9705.0,1130.000000,588.000000
mean,1.632143e+05,64.712924,205.231190,13.520762,36.678081,60.008449,21.705100,41.634886,66.940958,23.146419,...,54.256054,20.443895,5.371561,1.323029,66.820093,11.941267,0.211643,0.0,18.131327,150.755102
std,2.624759e+05,27.935984,264.822814,12.458365,6.968520,5.874699,9.774624,5.528689,6.397885,11.553421,...,42.259933,23.182254,6.676871,2.205729,30.936872,13.077936,0.615250,0.0,1.993348,58.760576
min,5.982000e+03,1.000000,1.800000,-1.000000,27.548387,42.000000,9.000000,33.428571,52.000000,8.000000,...,0.000000,0.000000,0.000000,0.000000,15.000000,1.000000,0.000000,0.0,14.800000,34.000000
25%,4.802000e+04,45.000000,26.500000,-1.000000,27.548387,54.000000,9.000000,36.053571,59.000000,12.000000,...,17.000000,0.000000,0.000000,0.000000,39.000000,3.000000,0.000000,0.0,16.500000,129.000000
50%,8.248600e+04,72.000000,118.900000,15.000000,38.661290,59.000000,22.000000,41.625000,69.000000,21.000000,...,45.000000,7.000000,0.000000,0.000000,77.000000,5.000000,0.000000,0.0,18.300000,129.000000
75%,1.775200e+05,88.000000,231.300000,21.000000,41.177419,64.000000,28.000000,45.685185,73.000000,33.000000,...,108.000000,51.000000,14.000000,5.000000,79.000000,12.000000,0.000000,0.0,19.200000,138.000000
max,6.353396e+06,100.000000,812.000000,38.000000,50.596774,71.000000,40.000000,54.482143,76.000000,42.000000,...,108.000000,51.000000,14.000000,5.000000,122.000000,41.000000,2.000000,0.0,23.300000,250.000000

## 1. Baseline Model - XGBoost

In [6]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

features = train.iloc[:,4:-1]
Y_train = train.iloc[:,-1]
X_test = test.iloc[:,4:]
scaled_x_test = scaler.fit_transform(X_test)
Y_train = Y_train.replace((np.inf, -np.inf, np.nan), 0).reset_index(drop=True)
X_test = X_test.replace((np.inf, -np.inf, np.nan), 0).reset_index(drop=True)
features = features.replace((np.inf, -np.inf, np.nan), 0).reset_index(drop=True)

In [7]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error

regressor = xgb.XGBRegressor(
    learning_rate=0.01,
    colsample_bytree=0.8,
    n_estimators=430,
    reg_lambda=1,
    gamma=1,
    max_depth=3,
    subsample=0.55
)
model = regressor.fit(scaler.fit_transform(features), Y_train)
preds = regressor.predict(scaled_x_test)

In [8]:
submission = pd.read_csv('sample_solution.csv')

In [9]:
submission['site_eui'] = preds
submission.to_csv('results/submission_base_xgboost.csv', index = False)

## 2. Baseline Model - Lasso & Ridge Regression

In [ ]:
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

regression = Lasso(alpha=0.5)
model = regression.fit(features, Y_train)
preds_lasso = model.predict(scaled_x_test)

regression = Ridge(alpha=0.5)
model = regression.fit(features, Y_train)
preds_ridge = model.predict(scaled_x_test)

In [ ]:
submission['site_eui'] = preds_lasso
submission.to_csv('results/submission_base_lasso.csv', index = False)

In [ ]:
submission['site_eui'] = preds_ridge
submission.to_csv('results/submission_base_ridge.csv', index = False)

## 3. DNN Model